* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 68px;
    background-color: white;
    margin: 10px 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
    transition: all 0.5s ease-in-out; /* js */
    z-index: 1;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

/* js */
@keyframes navLinksFade{
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* js */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(405deg) translate(-5px, -6px);
}

/* js */
.nav-active {
    transform: translateX(0%) !important;
}
.nav-active li{
    opacity: 1 !important;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease-in-out; /* js */
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    body {
        /* overflow: hidden; */
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        /* top: 8vh; */
        top: 68px;
        background-color: white;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    /* .main-wrapper {
        height: 300px;
    }  */

    .main-homeproducts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-fragrance {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

/*Smart Phone*/
@media screen and (max-width:425px){
    .main-wrapper {
        height: 200px;
    }

} 


/* MAIN WRAPPER */

.main-wrapper {
    background-image: url(/image/florencia-dalla-lasta-u4ZAyjJpLQA-unsplash.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-content {
    color: black;
    font-family: 'Noto Serif', serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  

} 

.wrapper-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    
}

.main-wrapper{
    position: relative;
}

/* HOME PRODUCTS */

.main-homeproducts {
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin-top: 3rem;
}

.products {
    padding: 10px;
}

.products img {
    height: auto;
    max-width: 100%;
    
}

.products h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0.5rem 0;
}

.products p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
}

.homeproducts-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.5rem;
}

.homeproducts-btn:hover {
    opacity: 0.6;
}

/* MAIN FRAGRANCE */

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: rgb(215, 209, 209);
}

.star5_rating::before, .star5_rating::after{
    content: '★★★★★';
}

.star5_rating::after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

.star5_rating[data-rate="5"]::after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]::after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */

.bestseller h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 2rem 0 1.5rem 0;
}

.bestseller {
    border-bottom: solid 1px black;
    margin: 0 1.5rem;
}


.item-btn {
    background-color: black;
    color: white;
    border: none;
    font-size: 17px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
}

.item-btn:hover{
    opacity: 0.6;
}

.item img {
    max-width: 20rem;
    height: 18rem;
}

.item {
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main-fragrance {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
}

.item h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.bestseller-bottom {
    border-bottom: solid 1px black;
    margin: 2rem 1.5rem;
}

/* FOOTER */

.footer-container {
    display: flex;
    justify-content: space-evenly;
    
}

.footer-container h4{
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

.footer-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
}

.benefit-content {
   padding: 1rem;
}

.footer-bottum {
    text-align: center;
    margin-top: 3rem;
    background-color: rgb(210, 210, 201);
    padding: 2rem 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}









